# set up scopes that should use repositories other than the default npm registry
# the example below sets up the @egokt scope to use GitHub Packages
@egokt:registry=https://npm.pkg.github.com
always-auth=true
